a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.body {
    display: flex;
    flex-direction: column;
    background-color: rgb(191, 191, 191)
}

.container {
    border: 2px solid;
    margin: auto;
    font-family: Trebuchet MS;
    width: 975px;
    height: 1175px;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

.headbox {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 960px;
}

.njwwicon {
    height: 150px;
    width: 150px;
}

.njwwbanner {
    margin-top: 35px;
    height: 75px;
    width: 820px;
}

.navbars {
    display: flex;
}

.hzbar {
    border-bottom: 2px solid;
    display: flex;
    height: 75px;
}

.hztxt {
    font-size: 32px;
    margin: auto;

}

.contentbox {
    text-align: center;
    flex: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentbox2 {
    text-align: center;
    flex: auto;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itembox {
    width: 975px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    font-size: 25px;
}

.sortbox {
    margin: auto;
    font-size: 30px;
    display: flex;
}

.sortbox a {
    text-decoration: none;
}

.sortbox:hover {
    border-radius: 10px;
    background-color: rgb(175, 175, 175);
}


.sortrank,
.sortrecent {
    border-radius: 10px;
    border: 2px solid;
    width: 235px;
}

.item {
    height: 375px;
    width: 325px;
    box-sizing: border-box;
}

.itemimg {
    border: 1px solid;
    border-radius: 10px;
    width: 260px;
    height: 200px;
}

.itemimg:hover {
    border: 2px solid;
}

.footer {
    font-family: Gadugi;
    color: rgb(117, 117, 117);
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.footer a {
    color: rgb(184, 107, 7);
}