a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.body {
    background-color: rgb(232, 232, 232);
}

.bg {
    margin: auto;
    font-family: Trebuchet MS;
}

.container {
    height: 1440px;
    width: 1000px;
    margin: auto;
    text-align: center;
    flex: 1;
}

.welcomebox {
    flex: auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.navbars {
    display: flex;
}

.hzbar {
    border-bottom: 2px solid;
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 100px;
}


.hztxt {
    font-size: 32px;
    margin: auto;

}

.contentbox {
    background-color: rgb(255, 255, 255);
    flex: auto;
    height: flex;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid;
    text-align: left;
}

.welcomebar {
    display: flex
}

.njwwimg {
    display: flex;
    height: 125px;
    height: 125px;
}

.njwwbanner {
    height: 75px;
    width: 775px;
}

.bannerbox {
    margin-top: 25px;
}

.nug1,
.nug2 {
    height: 200px;
    width: 250px;
    margin: 30px;
}

.weedbox {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    font-size: 25px;
}

.weedbox p {
    margin: -15px;
}

.weedinfobox {
    display: flex;
}

.njwwicon {
    height:125px;
    width: 100px;

}