a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.body {
    background-color: rgb(191, 191, 191)
}


.container {
    border: 2px solid;
    margin: auto;
    font-family: Trebuchet MS;
    width: 975px;
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}


.headbox {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 960px;
}

.njwwicon {
    height: 150px;
    width: 150px;
}

.njwwbanner {
    margin-top: 35px;
    height: 75px;
    width: 820px;
}

.navbars {
    display: flex;
}

.hzbar {
    border-bottom: 2px solid;
    display: flex;
    height: 75px;
}

.hztxt {
    font-size: 32px;
    margin: auto;

}

.budOverview {
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    flex: auto;
    height: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid;
}

.browsemore {
    text-align: center;
    flex: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.reviewbox {
    height: flex;
    text-align: left;
    border-bottom: 2px solid;
}

.reviewbox a {
    
    color: rgb(22, 87, 22)
}

.budinfo {
    margin-left: 50px;
    margin-top: 15px;
    font-size: 28px;
}

.itemimg {
    border: 1px solid;
    border-radius: 10px;
    margin: 25px;
    height: 200px;
    width: 250px;
}

.itemimg:hover {
    border: 2px solid;
}

.reviewbox {
    margin-left: 5px;
    border-bottom: 2px solid;
}

.budbox {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    font-size: 25px;
    position: relative;
    display: inline-block;
}

.budbox p {
    margin: -15px;
}

.infobox {
    display: flex;
}

.budbox img {
    border: 2px solid;
    border-radius: 10px;
    width: 450px; /* Adjust the width of the image as needed */
    height: 400px;
    display: block;
}


.budOverlay {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.budbox:hover .budOverlay {
    opacity: 1;
}

.footer {
    font-family: Gadugi;
    color: rgb(117, 117, 117);
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.footer a {
    color: rgb(184, 107, 7);
}

.footertxt a {
    color: rgb(184, 107, 7);
}