a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.body {
    display: flex;
    flex-direction: column;
    background-color: rgb(191, 191, 191)
}

.container {
    border: 2px solid;
    margin: auto;
    font-family: Trebuchet MS;
    width: 975px;
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

.headbox {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 960px;
}

.njwwicon {
    height: 150px;
    width: 150px;
}

.njwwbanner {
    margin-top: 35px;
    height: 75px;
    width: 820px;
}

.navbars {
    display: flex;
}

.hzbar {
    border-bottom: 2px solid;
    display: flex;
    height: 75px;
}

.hztxt {
    font-size: 31px;
    margin: auto;

}

.contentbox {
    justify-content: center;
    text-align: center;
    flex: auto;
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid;
}

.contentbox2 {
    text-align: center;
    flex: auto;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storeimg {
    border: 2px solid;
    border-radius: 10px;
    width: 500px;
    height: 350px;    
}


.infobox {
    font-size: 24px;
    margin-left: 25px;
    margin-top: 20px;
    text-align: left;
}

.itembox {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    font-size: 25px;
}

.item {
    height: 200px;
    width: 250px;
    margin: 25px;
}

.itemimg {
    border-radius: 10px;
    width: 260px;
    height: 200px;
}

.itemimg:hover {
    border: 2px solid;
}

.footer {
    font-family: Gadugi;
    color: rgb(117, 117, 117);
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.footer a {
    color: rgb(184, 107, 7);
}